/*RESET NORMALIZE*/
* {
    font-family: 'Open Sans', sans-serif;
}

p {
    margin: 0;
}

/*MESSAGES*/

.message {
    color: #ffffff;
    font-size: var(--font-normal);
    font-weight: var(--weight-strong);
    text-align: center;

    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid #cccccc;

    -webkit-border-radius: var(--radius-normal);
    -moz-border-radius: var(--radius-normal);
    border-radius: var(--radius-normal);
}

.ajax_response {
    /*margin: 25px 0;*/
}

.message.success {
    --color: var(--color-green);
    color: var(--color);
    border-color: var(--color);
}

.message.info {
    --color: var(--color-blue);
    color: var(--color);
    border-color: var(--color);
}

.message.warning {
    --color: var(--color-yellow);
    color: var(--color);
    border-color: var(--color);
}

.message.error {
    --color: var(--color-red);
    color: var(--color);
    border-color: var(--color);
}